@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&family=Sofia&display=swap');

h1{

  font-family: 'Rubik Burned', system-ui;;
    
}

P{
    font-family: 'Sofia', cursive;
    color: blue;
}